<style>
  .hero-class{
    min-height: 100vh;
  }
  .hero-form-container{
    flex-direction: row !important;
    justify-content: space-between;
    padding: 30px 0;
  }
  .left-side-lp, .right-side-lp{
    width: 50%;
  }
  .left-side-lp h1{
    font-size: 70px !important;
    padding-right: 40px;
  }
  .left-side-lp h2{
    margin-top: 20px;
    font-size: 20px !important;
    padding-right: 40px;
  }
  .right-side-lp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-side-lp h3{
    color: white;
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .right-side-lp img{
    width: 30px;
  }
  @media only screen and (max-width: 1366px) {
    .hero-class{
      height: 700px;
    }
  }
  #scrollTopBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9999; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    border-color: white;
    width: 62px;
    height: 62px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.37));
    background-color: #411e5a;
    border-width: 1px;
    border-style: solid;
  }
  #scrollTopBtn:hover {
    opacity: .8;
  }
  @media(max-width: 1024px){
    .left-side-lp h1{
      font-size: 52px !important;
    }
    .left-side-lp h2{
      font-size: 16px !important;
    }
  }
  @media(max-width: 768px){
    .left-side-lp, .right-side-lp{
      width: 100%;
    }
    .left-side-lp h1{
      padding: 0 20px;
      text-align: center;
    }
    .left-side-lp h2{
      padding-right: 0;
      text-align: center;
    }
    .hero-class{
      height: auto !important;
      padding: 30px 0;
    }
    .hero-form-container{
      flex-direction: column !important;
      justify-content: center;
    }
    .left-side-lp{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 30px 0;
    }
    .logo-napse{
      margin: 10px 0 20px 0 !important;
    }
    .right-side-lp{
      padding: 0 10px;
    }
  }
</style>
<div class="hero-class" style="background:url({{ module.background_image.src }}) no-repeat center;
                               background-size: cover;
                               -o-background-size: cover;
                               -moz-background-size: cover;
                               -webkit-background-size: cover;
                               display: flex;
                               flex-direction: column;
                               align-items: center;">
  <img class="logo-napse" src="{{ module.logo_napse.src }}" alt="logo Napse" width="{{ module.logo_napse.width }}" style="margin: 20px 0 0 0;"/>
  <div class="container hero-form-container">
    <div class="left-side-lp">
      {% if module.box.logo.src %}
      <img src="{{ module.box.logo.src }}" width="{{ module.box.logo.width }}" alt="{{ module.box.logo.alt }}">
      {% endif %}
      <h1>{{ module.box.title }}</h1>
      <h2>{{ module.box.subtitle }}</h2>  
    </div>
    
    <div class="right-side-lp">
      <h3>{{ module.right_side.title_form }}</h3>
      <img src="{{ module.right_side.separador.src }}">
      {% form
        form_to_use="{{ module.right_side.form.form_id }}"
        response_response_type="{{ module.right_side.form.response_type }}"
        response_message="{{ module.right_side.form.message }}"
        response_redirect_id="{{ module.right_side.form.redirect_id }}"
        response_redirect_url="{{module.right_side.form.redirect_url}}"
        gotowebinar_webinar_key="{{ module.right_side.form.gotowebinar_webinar_key }}"
      %}
    </div>
  </div>
</div>