.title-tag-post{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-tag-post h3{
  margin-top: 20px;
}

.carousel-casos{
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.tag-box{
  height: 405px;
}

.tag-box .box-card-image img{
  height: 150px;
}

.tag-box .box-card-text{
  /*height: 160px;*/
  padding: 30px 25px 15px 20px !important;
}  

.tag-box .box-card-text p:first-child{
  height: 75px;
}

.tag-box .box-card-text p:nth-child(3){
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.tag-box .box-card-text p:nth-child(2){
  font-weight: 300;
  margin-top: 15px;
  font-size: 16px;
}

.tag-box .box-card-button{
  position: absolute;
  bottom: 0;
}

.box-card-image div.bkg-separador-color{
  width: 120px;
  border-radius: 0px 0px 162px 162px / 0px 0px 150px 150px;
  font-size: 12px;
  height: 25px;
  margin-left: 5px;
  margin-top: -5px;
  padding: 5px;
  color: white;
}

.div-blog .slick-track{
  display: flex;
}

@media only screen and (max-width: 768px) {
  .title-tag-post h3{
    font-size: 40px;
  }
  
  .tag-box{
    height: 425px;
  }
}